*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  text-align: center;
  padding: 3rem;
  color: blueviolet;
  font-size: 2rem;
}
nav{
  text-align: center;
  padding: 3rem;
}

button{
  margin: 1rem auto;
  width: 8rem;
  border: none;
  outline: none;
  background-color: rgba(255, 68, 0, 0.623);
  color: white;
  padding: .6rem ;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
}

main{
  display: grid;
  place-items: center;
  padding: 2rem;
}

.itemContainer{
  margin: 1rem;
  max-width: 400px;
}

.left{
  border: 1px solid orange;
  border-radius: 5px;
}

img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.right{
  padding: .5rem;
}

.right div{
  display: flex;
  justify-content: space-between;
}

.price{
  color: blueviolet;
  font-weight: 700;
}

.info{
  text-indent: 1rem;
  margin-top: 1rem;
}

@media (min-width:768px){
  .itemContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 600px;
  }

  .left{
    margin-right: 1rem;
  }

  button{
    display: inline-block;
    margin-inline: 1rem ;
  }
}

@media (min-width:1200px) {
  
  main{
    grid-template-columns: 50% 50%;
  }
  
}
